html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Alice', serif;
    font-family: 'Coming Soon', sans-serif;
    color: #010317;
    background-color: #ed9e9e;
    background-image:  radial-gradient(#e9cdd3 1.1px, transparent 1.1px), radial-gradient(#e9cdd3 1.1px, #ed9e9e 1.1px);
    background-size: 44px 44px;
    background-position: 0 0,22px 22px;
}
h1,h2,h3,h4,h5,h6{
    color: #2f0547;
    text-align: center;
    margin: 8px;
}
nav{
    background-color: #81a954;
    border-bottom: 2px solid #0b1354;
}
.navbar-light .navbar-nav .nav-link{
    color: #010317;
}

/* Header styles */
header{
    height: 45vh;
    background-color: #ad77ac;
    border-bottom: 2px solid #0b1354;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

/* About section styles */
#about{
    margin: 5vw;
    background-color: #ebe6dc;
    border: 2px solid #0b1354;
    border-radius: 2em;
    padding: 10px;
}
#wrapper{
    display: flex;
    flex-flow: column nowrap;
    margin: 2em;
    gap: 40px;
}
#wrapper img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 900px) {
    #wrapper{
        display: grid;
        margin: 2em 10%;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 80px;
    }
}

/* Project section styles */
#projects{
    margin: 4vh 2vw;
    background-color: #ebe6dc;
    padding: 1em;
    border: 2px solid #0b1354;
    border-radius: 2em;
}

.project{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    margin: 2em 2px;
    align-items: center;
}
.project img{
    width: 100%;
    height: auto;
    border: 2px solid #0b1354;
    border-radius: 5px;
}
@media screen and (min-width:900px){
    .project{
        display: flex;
        flex-flow: row nowrap;
        gap: 40px;
        margin: 2em 10px;
        align-items: center;
    }
}

/* Footer styles */
footer{
    padding: 40px 0 20px;
    background-color: #ad77ac;
    text-align: center;
    border-top: 2px solid #0C1345;
}
/* Contact info */
.contactInfo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;

}
.contactInfo a{
    font-size: 30px;
}

hr{
    border: 2px solid #ec4653;
}

/* Change all link colors for all states */
a { text-decoration: none; }
a:link { color: #010317; }
a:visited { color: #010317; }
a:focus { color: #ec4653;}
a:hover { color: #ec4653;}
a:active { color: #ec4653; }