*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
}
body{
    font-family: 'Sunflower', serif;
    color: #0b080e;
    background-color: #AF5B68;
}
.app{
    display: flex;
    min-height: 100vh;
}
.menu-toggle{
    display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	background-color: #211b1b;
    border: 2px solid #1a1717;
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
    color: #39273C;
    font-family: 'Glass Antiqua', sans-serif;
}
.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
	flex: 1 1 0;
	width: 300px;
	padding: 4rem 3rem;
	background-color: #AF5B68;
    border-right: 2px solid #211b1b;
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.sidebar .menu {
	margin: 6rem -1rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color: #f4e5e0;
	text-decoration: none;
	transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover{
	color: #9d9de4;
}

main{
    flex: 1 1 0;
    margin-left: 300px;
}
section h2{
    text-align: center;
}
/* Header styles */
#header{
    text-align: center;
    margin: 4rem 0;
}
#banner{
    height: 350px;
    background-color: #573955;
    color: #f4e5e0;
    border-bottom: 2px solid #211b1b;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    text-align: center;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
#banner h1{
    color: #D19596;
    font-size: 30px;
}
#banner h2{
    font-size: 28px;
    color: #D19596;
    margin-bottom: 24px;
}
#banner a{
    font-size: 20px;
}
#banner p{
    font-size: 20px;
}
/* About section styles */
#about{
    text-align: center;
    background-color: #DEB1AC;
    padding: 10px;
}
#wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 2em;
    gap: 40px;
}
#wrapper img{
    border: 2px solid black;
    width: 100%;
    height: auto;
}
.ba-container {
  width: 400px;
}

.ba-slider {
  position: relative;
  overflow: hidden;
}

.ba-slider img {
  width: 100%;
  display: block;
}

.resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.handle {
  /* Thin line seperator */
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  margin-left: -2px;
  background: #eeeaeac3;
  cursor: ew-resize;
}

.handle:after {
  /* Big knob  */
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
  content: '\21ff';
  color: #f1eff4;
  
  font-weight:bold;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  background-color: #1f1c1e;
  
  border: 1px solid #151215;
  
  border-radius: 50%;
  transition: all 0.3s ease;
}

.draggable:after {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  line-height: 16px;
  font-size: 8px;
}
/* Project section styles */
#projects{
    background-color: #DEB1AC;
    padding: 20px;
    border-top: 2px solid #211b1b;
}

.project{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    margin: 2em 10px;
    align-items: center;
}
.project img{
    width: 100%;
    height: auto;
    border: 2px solid #211b1b;
    border-radius: 5px;
}

/* Footer styles */
footer{
    padding: 40px 0 20px;
    background-color: #573955;
    color: #F1DDD6;
    text-align: center;
    border-top: 2px solid #211b1b;
}
footer h2{
    color: #D19596;
}
/* Contact info */
.contactInfo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;

}
.contactInfo a{
    font-size: 30px;
}

hr{
    border-top: 1px solid #211b1b;
}
@media (max-width: 1024px) {
	.sidebar {
		max-width: 240px;
	}
    main{
        margin-left: 240px;
    }
}
@media (max-width: 768px) {
	.menu-toggle {
		display: block;
        z-index: 2;
	}
	main {
        margin: 0;
	}
	.sidebar {
		position: fixed;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
		transition: 0.2s linear;
	}

	.sidebar.is-active {
		left: 0;
	}
}
/* Media queries*/
@media screen and (min-width:920px){
    .project{
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
        gap: 40px;
    }
}
@media screen and (min-width:980px){
    #banner{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 4rem;
        text-align: left;
    }
} 
@media screen and (min-width:1280px){
    #wrapper{
        display: grid;
        margin: 2em 10%;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 80px;
    }
}
.button{
    background-color: #834A5F;
    color: #ECD2C8;
    padding: 12px;
    border-radius: 2rem;
    border: 2px solid #0b080e;
}
/* Change all link colors for all states */
a { text-decoration: none; }
a:link { color: #ECD2C8; }
a:visited { color: #ECD2C8; }
a:focus { color: #ec4653;}
a:hover { color: #ec4653;}
a:active { color: #ec4653; }