/* General Contact Section Styles */
#contact {
    padding: 50px 20px;
    color: #2C3E50;
    text-align: center;
}

#contact h2 {
    font-size: 2.5rem;
    color: #f1edf4;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

/* Contact Container (form and social links) */
.contact-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Contact Form */
.contact-form, .social-links {
    flex: 1;
    padding: 20px 10px;
    background: #fff;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }

.contact-form h3 {
    font-size: 32px;
    color: #9b59b6;
    margin-bottom: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.contact-form label {
    font-size: 1rem;
    color: #3c4242;
    margin-bottom: 5px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    background-color: #ECF0F1;
    color: #2C3E50;
    font-size: 1rem;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form button {
    font-family: "Press Start 2P", sans-serif;
    background-color: #F39C12;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #9B59B6;
}

/* Social Links */
.social-links {
    max-width: 300px;
}

.social-links h3 {
    font-size: 1.8rem;
    color: #9b59b6;
    margin-bottom: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.social-links ul {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links .social-icon {
    font-size: 1.2rem;
    color: #191b1d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social-links .social-icon:hover {
    color: #9B59B6;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
  
    .contact-form, .social-links {
      width: 100%;
    }
  }

@media (max-width: 480px) {
    #contact h2 {
      font-size: 2rem;
    }
  
    .contact-form h3, .social-links h3 {
      font-size: 1.5rem;
    }
  
    .contact-form input, .contact-form textarea {
      font-size: 0.9rem;
    }
  
    .contact-form .submit-btn {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  
    .social-links a {
      font-size: 0.9rem;
    }
  }