/* Footer.css */
.footer {
    background-color: var(--bg-color, #333);
    color: var(--text-color, #fff);
    border-top: 4px solid var(--text-color, #fff);
    padding: 10px 0;
    font-size: 10px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between; /* Distribute content to both sides */
    align-items: center; /* Center content vertically */
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    margin-right: auto; /* Push content to the left */
  }
  
  .footer-socials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Align icons horizontally */
  }
  
  .footer-socials ul li {
    margin-left: 20px;
  }
  
  .footer-socials ul li a {
    color: var(--text-color, #fff);
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }
  
  .footer-socials ul li a:hover {
    color: var(--accent-pink, #ff00ff);
  }
  
  .footer-socials ul li a svg {
    transition: transform 0.3s ease-in-out;
  }
  
  .footer-socials ul li a:hover svg {
    transform: scale(1.2);
  }
  